@import 'base/variables';

* {
	font-family: Museo Sans, sans-serif;
}

h1,
h2,
h3 {
	margin-bottom: 0;
}

.container {
	max-width: 942px;
	margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import "blocks/footer";

@import 'base/media';
